Repository PawelBuczek/encounter-handler-pf2e, changes with the labels that .github/labeler.yml gives for each.
All labels: core, resources, test, apikey, encounter, security, user, bash, pom, anyChange

.github/labeler.yml:

core: src/main/java/**
resources: src/main/resources/**
test: src/test/**

apikey: src/main/java/com/pbuczek/pf/apikey/**
encounter: src/main/java/com/pbuczek/pf/encounter/**
security: src/main/java/com/pbuczek/pf/security/**
user: src/main/java/com/pbuczek/pf/user/**

bash: '**/*.sh'
pom: 'pom.xml'
anyChange: '**'

test change
  src/test/java/com/pbuczek/pf/it/UserIntegrationTest.java
Labels: test, anyChange

abbreviated test class name
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: test, anyChange

added first integration test for user
  src/main/java/com/pbuczek/pf/apikey/ApiKey.java
  src/test/java/com/pbuczek/IntegrationTests.java
  src/test/java/com/pbuczek/UnitTests.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: core, test, apikey, anyChange

test correction
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: test, anyChange

streamlined API Key creation
  src/main/java/com/pbuczek/pf/apikey/ApiKey.java
Labels: core, apikey, anyChange

removed unnecessary var
  src/main/java/com/pbuczek/pf/apikey/ApiKey.java
Labels: core, apikey, anyChange

improved testing
  .github/workflows/maven.yml
  src/test/java/com/pbuczek/pf/ApplicationTests.java
  src/test/java/com/pbuczek/pf/IntegrationTests.java
  src/test/java/com/pbuczek/pf/UnitTests.java
Labels: test, anyChange

added test for api key identifier uniqueness
  src/test/java/com/pbuczek/pf/apikey/ApiKeyTest.java
Labels: test, anyChange

corrected test suites paths
  .github/workflows/maven.yml
Labels: anyChange

removed milliseconds from Classes - unnecessary accuracy
  src/main/java/com/pbuczek/pf/encounter/Encounter.java
  src/main/java/com/pbuczek/pf/user/User.java
Labels: core, encounter, user, anyChange

removed milliseconds from db tables - unnecessary accuracy
  src/main/resources/db/changelog/db.changelog-1-create-user-table.xml
  src/main/resources/db/changelog/db.changelog-3-create-encounter-table.xml
Labels: resources, anyChange

upgraded test case for creating user
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: test, anyChange

improved tests
  src/test/java/com/pbuczek/pf/it/UserIT.java
  src/test/java/com/pbuczek/pf/user/UserTest.java
Labels: test, anyChange

improved tests multiple asserts
  src/test/java/com/pbuczek/pf/apikey/ApiKeyTest.java
  src/test/java/com/pbuczek/pf/encounter/EncounterTest.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
  src/test/java/com/pbuczek/pf/user/UserTest.java
Labels: test, anyChange

added AllArgsConstructor for EncounterDto
  src/main/java/com/pbuczek/pf/encounter/EncounterDto.java
  src/test/java/com/pbuczek/pf/encounter/EncounterTest.java
Labels: core, test, encounter, anyChange

simplified tests with interface containing constants
  src/main/java/com/pbuczek/pf/user/UserDto.java
  src/test/java/com/pbuczek/pf/TestUserDetails.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
  src/test/java/com/pbuczek/pf/user/UserTest.java
Labels: core, test, user, anyChange

refactored TestUserDetails
  src/main/java/com/pbuczek/pf/user/TestUserDetails.java
  src/test/java/com/pbuczek/pf/TestUserDetails.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
  src/test/java/com/pbuczek/pf/user/UserTest.java
Labels: core, test, user, anyChange

refactored UserController
  src/main/java/com/pbuczek/pf/user/UserController.java
Labels: core, user, anyChange

corrected TEST_EMAIL constant
  src/main/java/com/pbuczek/pf/user/TestUserDetails.java
Labels: core, user, anyChange

additional Controller improvements
  src/main/java/com/pbuczek/pf/encounter/EncounterController.java
  src/main/java/com/pbuczek/pf/user/UserController.java
Labels: core, encounter, user, anyChange

corrected IT
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: test, anyChange

reworked logic of test users
  src/main/java/com/pbuczek/pf/user/TestUserDetails.java
  src/main/java/com/pbuczek/pf/user/UserController.java
  src/test/java/com/pbuczek/pf/TestUserDetails.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
  src/test/java/com/pbuczek/pf/user/UserTest.java
Labels: core, test, user, anyChange

playing around with regex and file reading
  src/main/java/com/pbuczek/pf/user/UserController.java
  src/main/java/com/pbuczek/pf/user/emailRegex
Labels: core, user, anyChange

corrected tests
  src/main/java/com/pbuczek/pf/user/UserController.java
  src/main/java/com/pbuczek/pf/user/emailRegex
  src/main/resources/db/sql-files/add-user-email-validation-constraint.sql
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: core, resources, test, user, anyChange

added duplicate test for user
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: test, anyChange

improved integration tests
  src/main/java/com/pbuczek/pf/encounter/EncounterController.java
  src/main/java/com/pbuczek/pf/encounter/EncounterDto.java
  src/main/java/com/pbuczek/pf/user/UserController.java
  src/main/java/com/pbuczek/pf/user/UserRepository.java
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: core, test, encounter, user, anyChange

trimming improvement
  src/main/java/com/pbuczek/pf/encounter/Encounter.java
  src/main/java/com/pbuczek/pf/encounter/EncounterController.java
  src/main/java/com/pbuczek/pf/user/User.java
  src/main/java/com/pbuczek/pf/user/UserController.java
Labels: core, encounter, user, anyChange

username constraint added
  src/main/java/com/pbuczek/pf/user/UserController.java
  src/main/resources/db/changelog/db.changelog-1-create-user-table.xml
  src/test/java/com/pbuczek/pf/TestUserDetails.java
Labels: core, resources, test, user, anyChange

reformatted encounter unit test
  src/test/java/com/pbuczek/pf/encounter/EncounterTest.java
Labels: test, anyChange

typo
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
Labels: test, anyChange

updated user
  src/main/java/com/pbuczek/pf/user/User.java
  src/main/java/com/pbuczek/pf/user/UserController.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: core, test, user, anyChange

updated encounter
  src/main/java/com/pbuczek/pf/encounter/Encounter.java
Labels: core, encounter, anyChange

updated encounter test
  src/test/java/com/pbuczek/pf/encounter/EncounterTest.java
Labels: test, anyChange

optimized imports
  src/test/java/com/pbuczek/pf/encounter/EncounterTest.java
Labels: test, anyChange

added tests stubs
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: test, anyChange

updating github actions try #1
  .github/workflows/maven.yml
Labels: anyChange

updating github actions try #2
  .github/workflows/maven.yml
Labels: anyChange

updated pom
  pom.xml
Labels: pom, anyChange

first tries with MockMvc
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
Labels: test, anyChange

swapped TestRestTemplate for MockMvc
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
Labels: test, anyChange
