Repository PawelBuczek/encounter-handler-pf2e, changes with the labels that .github/labeler.yml gives for each.
All labels: core, resources, test, apikey, encounter, security, user, bash, pom, anyChange

.github/labeler.yml:

core: src/main/java/**
resources: src/main/resources/**
test: src/test/**

apikey: src/main/java/com/pbuczek/pf/apikey/**
encounter: src/main/java/com/pbuczek/pf/encounter/**
security: src/main/java/com/pbuczek/pf/security/**
user: src/main/java/com/pbuczek/pf/user/**

bash: '**/*.sh'
pom: 'pom.xml'
anyChange: '**'

Create codeql.yml
  .github/workflows/codeql.yml
Labels: anyChange

removed CodeQL - not working with Java 17 :D
  .github/workflows/codeql.yml
Labels: anyChange

adding review to GitHub actions
  .github/workflows/maven.yml
Labels: anyChange

GitHub actions - try to add CodeQL #1
  .github/workflows/maven.yml
Labels: anyChange

GitHub actions - try to add CodeQL #2
  .github/workflows/maven.yml
Labels: anyChange

added test method
  src/test/java/com/pbuczek/pf/TestUserDetails.java
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
  src/test/java/com/pbuczek/pf/user/UserTest.java
Labels: test, anyChange

added test method and logic for published
  src/main/java/com/pbuczek/pf/encounter/EncounterController.java
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
Labels: core, test, encounter, anyChange

check CodeQL action try #1
  .github/workflows/maven.yml
Labels: anyChange

removed CodeQL
  .github/workflows/maven.yml
Labels: anyChange

refactor
  .github/workflows/maven.yml
Labels: anyChange

refactor
  src/main/java/com/pbuczek/pf/user/UserController.java
Labels: core, user, anyChange

wip moving towards MockMVC for UserIT
  src/main/java/com/pbuczek/pf/user/User.java
  src/main/java/com/pbuczek/pf/user/UserController.java
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: core, test, user, anyChange

MockMvc for User
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: test, anyChange

added ApiKeyIT
  src/test/java/com/pbuczek/pf/it/ApiKeyIT.java
Labels: test, anyChange

wip ApiKeyIT
  src/test/java/com/pbuczek/pf/IntegrationTests.java
  src/test/java/com/pbuczek/pf/UnitTests.java
  src/test/java/com/pbuczek/pf/it/ApiKeyIT.java
Labels: test, anyChange

first ApiKeyIT test
  src/test/java/com/pbuczek/pf/it/ApiKeyIT.java
Labels: test, anyChange

corrected commentary
  src/test/java/com/pbuczek/pf/apikey/ApiKeyTest.java
Labels: test, anyChange

created _BaseIT and extended it for all integration tests
  src/test/java/com/pbuczek/pf/it/ApiKeyIT.java
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
  src/test/java/com/pbuczek/pf/it/_BaseIT.java
Labels: test, anyChange

improved integration tests
  src/test/java/com/pbuczek/pf/it/ApiKeyIT.java
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
  src/test/java/com/pbuczek/pf/it/_BaseIT.java
Labels: test, anyChange

removed unused import
  src/test/java/com/pbuczek/pf/it/_BaseIT.java
Labels: test, anyChange

improved EncounterIT
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
Labels: test, anyChange

improved IT
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
  src/test/java/com/pbuczek/pf/it/_BaseIT.java
Labels: test, anyChange

added JpaEntity interface
  src/main/java/com/pbuczek/pf/encounter/Encounter.java
  src/main/java/com/pbuczek/pf/interfaces/JpaEntity.java
  src/main/java/com/pbuczek/pf/user/User.java
Labels: core, encounter, user, anyChange

added generic method to simplify actual tests
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
  src/test/java/com/pbuczek/pf/it/_BaseIT.java
Labels: test, anyChange

wip adding tests
  src/main/java/com/pbuczek/pf/apikey/ApiKeyController.java
  src/test/java/com/pbuczek/pf/it/ApiKeyIT.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: core, test, apikey, anyChange

moved @ResponseBody annotation to JpaEntity interface
  src/main/java/com/pbuczek/pf/encounter/Encounter.java
  src/main/java/com/pbuczek/pf/interfaces/JpaEntity.java
  src/main/java/com/pbuczek/pf/user/User.java
Labels: core, encounter, user, anyChange

moved dependency review to a separate workflow
  .github/workflows/depreview.yml
Labels: anyChange

updated dependency review action
  .github/workflows/depreview.yml
Labels: anyChange

updated dependency review action
  .github/workflows/depreview.yml
Labels: anyChange

removed dependency review from maven action
  .github/workflows/maven.yml
Labels: anyChange

update actions #1
  .github/workflows/depreview.yml
Labels: anyChange

update actions #2
  .github/workflows/depreview.yml
Labels: anyChange

update actions #3 removed
  .github/workflows/depreview.yml
Labels: anyChange

Create dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: anyChange

added test
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
Labels: test, anyChange

removed unnecessary SneakyThrows
  src/test/java/com/pbuczek/pf/it/ApiKeyIT.java
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: test, anyChange

added test for deleting user
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: test, anyChange

added a few tests for User Controller
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: test, anyChange

refactored User tests
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: test, anyChange

added test and changed email update logic
  src/main/java/com/pbuczek/pf/user/UserController.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
Labels: core, test, user, anyChange
