Repository PawelBuczek/encounter-handler-pf2e, changes with the labels that .github/labeler.yml gives for each.
All labels: core, resources, test, testResources, apikey, encounter, security, user, bash, pom, anyChange

wip forbidding api key actions
  src/main/java/com/pbuczek/pf/security/ApiKeyAuthenticationAdder.java
  src/main/java/com/pbuczek/pf/security/SecurityHelper.java
  src/test/java/com/pbuczek/pf/it/ApiKeyIT.java
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
  src/test/java/com/pbuczek/pf/it/_BaseIT.java
Labels: core, test, security, anyChange

wip forbidding api key actions
  src/test/java/com/pbuczek/pf/it/ApiKeyIT.java
Labels: test, anyChange

added test for Api Key forbidden action
  src/test/java/com/pbuczek/pf/it/ApiKeyIT.java
Labels: test, anyChange

corrected method
  src/main/java/com/pbuczek/pf/security/SecurityHelper.java
Labels: core, security, anyChange

forbid some endpoints for API Keys
  src/main/java/com/pbuczek/pf/apikey/ApiKeyController.java
  src/main/java/com/pbuczek/pf/user/UserController.java
Labels: core, apikey, user, anyChange

Api key forbid actions (#15)
  src/main/java/com/pbuczek/pf/apikey/ApiKeyController.java
  src/main/java/com/pbuczek/pf/security/ApiKeyAuthenticationAdder.java
  src/main/java/com/pbuczek/pf/security/SecurityHelper.java
  src/main/java/com/pbuczek/pf/user/UserController.java
  src/test/java/com/pbuczek/pf/it/ApiKeyIT.java
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
  src/test/java/com/pbuczek/pf/it/_BaseIT.java
Labels: core, test, apikey, security, user, anyChange

refactor
  src/test/java/com/pbuczek/pf/it/_BaseIT.java
Labels: test, anyChange

refactored tests
  src/test/java/com/pbuczek/pf/it/ApiKeyIT.java
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
  src/test/java/com/pbuczek/pf/it/_BaseIT.java
Labels: test, anyChange

upgraded procedure of removing user
  src/main/java/com/pbuczek/pf/apikey/ApiKeyRepository.java
  src/main/java/com/pbuczek/pf/encounter/Encounter.java
  src/main/java/com/pbuczek/pf/user/UserController.java
  src/main/resources/db/changelog/db.changelog-3-create-encounter-table.xml
Labels: core, resources, apikey, encounter, user, anyChange

added tests
  src/main/java/com/pbuczek/pf/user/UserController.java
  src/test/java/com/pbuczek/pf/it/ApiKeyIT.java
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
Labels: core, test, user, anyChange

allow for deleting user with encounters (#16)
  src/main/java/com/pbuczek/pf/apikey/ApiKeyRepository.java
  src/main/java/com/pbuczek/pf/encounter/Encounter.java
  src/main/java/com/pbuczek/pf/user/UserController.java
  src/main/resources/db/changelog/db.changelog-3-create-encounter-table.xml
  src/test/java/com/pbuczek/pf/it/ApiKeyIT.java
  src/test/java/com/pbuczek/pf/it/EncounterIT.java
  src/test/java/com/pbuczek/pf/it/UserIT.java
  src/test/java/com/pbuczek/pf/it/_BaseIT.java
Labels: core, resources, test, apikey, encounter, user, anyChange

added stubs for test and TODOs
  src/test/java/com/pbuczek/pf/it/ApiKeyIT.java
Labels: test, anyChange

removed unnecessary picture
  src/main/resources/pictures/dbeaver_driver_properties.png
Labels: resources, anyChange

.github/labeler.yml:

core: src/main/java/**
resources: src/main/resources/**
test: src/test/**
testResources: src/test/resources/**

apikey: src/main/java/com/pbuczek/pf/apikey/**
encounter: src/main/java/com/pbuczek/pf/encounter/**
security: src/main/java/com/pbuczek/pf/security/**
user: src/main/java/com/pbuczek/pf/user/**

bash: '**/*.sh'
pom: 'pom.xml'
anyChange: '**'
